.container{ width: 1170px; margin: auto;}
.top-bar{
    background: #2f506c;
}
.form-group {
    display: inline-block;
    margin:10px 0px;
    vertical-align: middle;

}
.hd-input{
    width: 260px;
    height: 34px;    
    font-size: 14px;
    color: #555;
    background-color: #fff;    
    border: 1px solid #ccc;
}
.hd-btn{ background: #6091ba; border: 1px solid #6091ba; color: #fff; height: 36px; width:50px; vertical-align: top;}
.cl777{ color: #777;}
.hd-info{ line-height: 25px;}
.hd-nav{ background: #6091ba; height: 50px;}
.hd-nav-ul li{ float: left; position: relative;}
.hd-nav-ul a{ display: block; color: #dce7f0; line-height: 50px; padding: 0px 20px; font-size: 14px;}
.hd-nav-ul li:hover a, .hd-nav-ul a.current{ color: #fff; background: #4678a1;}
.hd-nav-ul li:hover .nav-two-div{ display: block;}
.nav-two-div{ width: 210px; position: absolute; background: #4678a1; display: none; opacity: 0.8; z-index: 10;}
.nav-two-div a{ line-height: 40px; font-size: 12px; font-weight: normal;}
.nav-two-div a:hover{ background: #3e6a8f!important;}
.ct-home-sh{ position: absolute; top: 50px; left: 50px; width: 400px;}
.ct-home-sh .bg{ background: #6091ba; width: 400px; height: 250px; opacity: 0.6; position: absolute; z-index: 0;}
.ct-home-sh p{ color: #fff; line-height: 30px;}
.ct-home-shcont{ position: relative; z-index: 1; padding: 10px;}
.ct-home-input{ height: 34px; width: 300px;}
.ct-home-sh-btn{ background: #00AEEF; display: inline-block; width: 45px; line-height: 36px; height: 36px; border-radius: 3px; color: #fff; cursor: pointer; vertical-align: top;}
.ct-home-img-page span{ font-size: 40px; color: #999999; display: inline-block; width: 20px; text-align: center;}
.ct-home-img-page span.current{ color: #6091BA;}
.ct-tps{ background: #444444; height: 90px; padding: 20px;}
.ct-tps p{ color: #fff; line-height: 30px;}
.ct-tps p.p2{ line-height: 25px;}
.ct-lists-tt{ color: #395873; line-height: 45px; padding-left: 15px; border-bottom: 2px solid #92B3CE;}
.ct-lists-cont{ background: #F5F5F5; overflow: hidden; padding: 15px 0px;}
.ct-lists-prev,.ct-lists-next{ width: 30px; font-size: 50px; font-weight: bold; color: #999; cursor: pointer; border-radius: 3px; text-align: center; height: 280px; line-height: 280px; }
.ct-lists-prev:hover,.ct-lists-next:hover{ color: #000;}
.ct-lists-next{}.ct-lists-ul{}
.ct-lists-ops{ width: 1110px; overflow: hidden;}
.ct-lists-ul{ width: 2000px;}
.ct-lists-ul li{ width: 208px; padding-top: 185px; position: relative; float: left; box-shadow: 0px 0px 3px 1px #999; line-height: 25px; margin: 15px 13px 15px 3px; overflow: hidden;}
.ct-lists-ul li img{ width: 208px; position: absolute; top: 0px; left: 0px; float: left; margin-bottom: 5px;}
.ct-lists-ul li p{ position: relative; z-index: 2; background: #fff;}
.ct-lists-ul li .p2{ padding: 0px 5px; line-height: 20px;}
.ptime{ padding: 0px 5px; line-height: 25px; text-align: right;}
.footer{padding: 20px 0px; font-size: 12px; min-height: 150px; background: #000; }
.footer_1{ background: url(../images/bg-map.png) no-repeat 420px center; background-size: auto 100%; width: 545px;}
.footer_1 p{ line-height: 25px; color: #fff;}
.footer_2{ width: 604px; padding-left: 20px; line-height: 25px; color: #fff; border-left: 1px solid #fff;}
.fot-tt{ font-weight: bold; font-size: 16px;}
.f1,.f2{ background: url(../images/a22.gif) no-repeat left center; padding-left: 25px; display: inline-block; height: 23px; color: #fff;}
.f2{ background-image: url(../images/a21.gif) }
.weixin{ background: url(../images/ewm.png) no-repeat center; width: 125px; height: 125px; display: block;}
.iphone-app-bg{ background: url(../images/iphone-app.gif); width: 155px; height: 54px; margin-top: 5px;}
.fot-logo{ background: url(../images/a4.gif); width: 248px; height: 101px; }

.ct-lists-tt{ border-bottom: solid 1px #d2d2d2; margin: 0px 30px;}
.ct-tps-btn { width: 165px; height: 48px; line-height: 48px; font-size: 18px; font-family: "微软雅黑"; margin: 20px 0px 0px 30px; text-align: center; color: #fff; background: #6091ba;display: inline-block;}

.page-cont{ padding: 20px;}
.page-lt{ width: 800px; float: left; line-height: 25px;}
.page-rt{ width:252px; float: right;}
.page-hd-img{ width: 800px; height: 200px;}
.page-tt{ border-bottom: 1px solid #e8e8e8; margin-bottom: 30px; height: 48px;}
.page-h1{ font-size: 28px; color: #333; font-family: "黑体";}
.page-menu{ margin-top: 25px;}
.page-menu a{ margin: 5px;}
.page-cont-txt{ line-height: 25px;}
.page-block-tt{ font-size: 20px; padding-bottom: 15px;}
.page-block{ margin-bottom: 20px;}
.page-block-link{ font-size: 14px; display: block; line-height: 30px; font-weight: bold; }
.gd-stu-ul li{ overflow: hidden; margin-bottom: 25px;}
.gd-stu-info{ margin-left: 200px;}
.gd-stu-info h3, .h3-tt{ font-size: 20px; margin-bottom: 10px;}
.gd-stu-info h4, .h4-tt{ font-size: 18px; margin-bottom: 10px;}
.gd-stu-info p{ line-height: 25px;}
.stu-act-month{ width: 50px; height:25px; line-height: 25px; background:#6091ba; font-size: 16px; text-align: center; color:#fff; margin: 0px 20px;}
.stu-act-day{ width: 50px; height: 40px; line-height: 40px; background:#f5f5f5; font-size: 12px; text-align: center; margin: 0px 20px;}
.stu-act-info{ margin-left: 100px;}
.h5-tt{ font-size: 14px;}
.time-bg{}
.lin25{ line-height: 25px;}
.stu-act-ul li{ overflow: hidden; margin-bottom: 25px;}
.ke-list-info{ margin-left: 120px; line-height: 25px;}
.kc-list-name{ color: #6091ba; font-size: 18px; font-weight: bold;}
.kc-list-name:hover{ }
.other-link{ color:#fff; background: #84aac9; font-size: 12px; padding: 2px 15px; margin-top: 5px; display: inline-block;}
.other-link:hover{ background: #84AAC9; color: #fff; text-decoration: none;}
.down-link{ display: block; padding: 5px; background: url(../images/filejia.png) no-repeat center top; width: 250px; height: 200px; line-height: 350px;}
.down-ul li{ float: left; text-align: center; line-height: 30px; font-size: 14px; font-weight: bold; margin: 0px 10px 10px 10px;}
.job-dl{ border: 1px solid #DDDDDD; line-height: 25px; border-bottom: none; border-radius: 2px; margin-bottom: 30px;}
.job-dl dt h2{ font-size: 14px; font-weight: bold;}
.job-dl dt,.job-dl dd{ border-bottom: 1px solid #DDDDDD; padding: 5px 10px;}
.job-dl dt{ background: #F5F5F5;}
.ablue{ color: #609DCE;}
.page-h1-tt{ font-size: 16px; font-weight: bold; line-height: 35px;}
.page-h2-tt{ fotn-size: 14px; font-weight: bold; color: green;}
.page-ol{ line-height: 30px; margin: 10px 0px;}
.page-ol li{ list-style: disc; margin-left: 40px; font-size: 20px;}
.page-ol li span{ font-size: 12px;}
.page-bd-div{ border-left: 6px solid #A7C2D9; padding: 5px 10px; font-size: 12px; margin: 15px 0px; color: #777;}
.yk-tb{ border: 1px solid #A7A9AC; width: 760px; margin: auto;}
.yk-tb thead td{ font-size: 14px; font-weight: bold; color: green;}
.yk-tb td{ padding: 5px 10px;}
.yk-ul1 li{ list-style: disc; line-height: 20px;margin: 10px 0px; margin-left: 30px; padding: 15px;}
.hz-school li{ float: left; width: 200px; height:230px; margin: 15px; border: 1px solid #999999; padding: 10px; text-align: center; line-height: 30px;}
.hz-school li img{ max-width: 200px; max-height: 200px; display: block; margin: auto;}
.hz-school li a{ font-size: 14px; font-weight: bold; display: block;}
.page-p1{ margin: 5px 0px; text-indent: 20px;}
.page-ol1 li{ list-style:decimal; margin-left: 30px;}
.fz13{ font-size: 13px;}
.fz14{ font-size: 14px;}
.tindent20 {text-indent: 20px;}
.bcu-tb1{ border: 1px solid #cbcbcb; width: 100%; }
.bcu-tb1 td{ vertical-align: top;}
.bcu-tb1 th{ padding: 10px; text-align: left;}
.bcu-tb2 td{ padding: 5px 10px; width: 20%;}
